.card_caleta{
    background-color: #F4F5F7;
}
.card_caleta_img_container {
    max-height: 65%;
    overflow: hidden;
  }
  
  .card_caleta_img {
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center; /* Centra la imagen */
  }
  